@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  /* color-scheme: dark; */
}

.aside {
  width: 100%;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}
.header {
  font-size: 2rem;
  font-weight: 600;
  color: #042A5B;
}
.heading-about{
  color: #9D9EA2
}