@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  /* color-scheme: dark; */
}

.aside {
  width: 100%; 
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}
.header {
  font-size: 2rem;
  font-weight: 600;
  color: #042A5B;
}
.heading-about{
  color: #9D9EA2
}

input.checked {
  border-color: #483EEC;
  background-color: #483EEC;
  position: relative;
}

input.checked::before {
  content: "\2713";
  font-size: 1.5em;
  color: #fff;
  position: absolute;
  right: 1px;
  top: -5px;
}

@media screen and (max-width:767px){
  .header { 
    font-size: 1.5rem;
    font-weight: 600;
  }
}
/* input[type="checkbox"]:focus {
  box-shadow: 0 0 20px #483EEC;
} */